{% extends 'base/base.html.twig' %}

{% block content %}

    {# total items count #}
    <div class="count">
        {{ pagination.getTotalItemCount }}
    </div>
    <table>
        <tr>
            {# sorting of properties based on query components #}
            <th>{{ knp_pagination_sortable(pagination, 'Id', 't.id') }}</th>
            <th{% if pagination.isSorted('t.teamShortName') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'nazwa', 't.teamShortName') }}</th>

        </tr>

        {# table body #}
        {% for team in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>{{ team.id }}</td>
                <td>{{ team.teamShortName }}</td>
            </tr>
        {% endfor %}
    </table>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}






